

body {
  background-image: url('photo.jpg');
  background-size: cover;
  overflow: hidden;
}

div {
  content: "\f007";
  font-family: "FontAwesome";
  padding-left: 07px;
  padding-top: 1%;
  font-size: 35px;
  color: green;
}


.container{
	width:20%;
	height: 60%;
	text-align: center;
	margin: 0 auto;
	background-color: rgba(44, 62, 80,0.85);
	margin-top: 8%;
}


button{
  padding: 15px 25px;
	border: none;
  margin-top: 5%;
	background-color: #27ae60;
	color: #fff;
}

input{
  padding: 10px 20px;
  border: none;
}

h1{
font-size: 100%;

}

#inside{

  text-align: center;
}
#php{
  font-size:50%;
  color:#fffcbb;
}

#center{
  padding-bottom: 10%;

}

#add{

  width:40%;
  height: 25%;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(44, 62, 80,0.7);
  margin-top: 8%;
}

#search{
  width:25%;
  height: 25%;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(44, 62, 80,0.7);
  margin-top: 8%;

}

#search_a{
  width:25%;
  height: 20%;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(44, 62, 80,0.7);
  margin-top: 8%;

}

table{
  border-collapse: collapse;
  width: 100%;
  color:#d96459;
  font-family: monospace;
  font-size: 25px;
  text-align: left;
}

th{
  background-color: #d96459;
  color:white;
}
tr:nth-child(even){
  background-color: #f2f2f2}
}


.paging {
  display: inline-block;
}

.paging a {
  color: 	#b5651d;

  text-decoration: none;
}
